<!DOCTYPE html>
<html>
  <head>
    <title>MapMyJog</title>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="QY5xcviKTCb6g0WTVNwUd_PuDUGdTFRNOhPfa2u-ilU" />
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|PT+Sans+Narrow:400,700" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

     <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyB5qmFtUk1CGY0unMXbZMOxfsadFaog5OA&libraries=places" %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
